<div class="hero-unit">

<h1>EnrichmentMatch</h1>
<title>Find teachers for your School Enrichment Program | EnrichmentMatch</title>

<body style="">
    <div class="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container header">
    			<ul>
      			<li class="name"><h1><a href="#">EnrichmentMatch</a></h1>
      			</li>
      			<li><a href="/"><img alt="CoderMatch Logo" class="brand" src="/assets/codermatch-logo-33a6f2a0b0914887a7449d7500fe4bba.svg"></a>
      			</li>
    			</ul>
  			</div>
			</div>
		</div>

      <!-- if current_user is logged in, show the signup form -->

<div class="container">

  <div class="hero-unit">
    <h1>Coding alone is
      <div class="rw-words rw-words-1">
        <span>hard...</span>
        <span>not very fun...</span>
        <span>just plain sad...</span>
      </div>
    </h1>
    <h2>Find your coding buddy.</h2>
  </div>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item">
        <img alt="Lonely Coder" class="splash-image" src="/assets/Lonely-Coder-7eb1622b38ed300c81cbb4b7b2eaf51c.svg">
      </div>
      <div class="item active">
        <img alt="Coder with Buddy" class="splash-image" src="/assets/Coder-w-Buddy-5a83fd5702cf67f5e93704b6c5316203.svg">
      </div>
    </div>
  </div>
  <div class="subheading">
    <h3>Enter your zip code to find local enrichment teachers </h3>
     <div class="btn btn-primary">
      <button class="btn" onclick="Hull.login('github')"><i class="icon-github icon-large"></i> Log in with GitHub
      </button>
    </div>
  </div>


